.Router {
    text-decoration: none;
    margin: 15px 15px;
    border-radius: 6px;
    color: black;
    background-color: rgb(161, 161, 161);
    box-shadow: 2px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

